@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Geoscience portal</h1>
    <p class="lead">This website allows to discover data samples through facetted searching text-based, and geographic searches.</p>
    
</div>

<div >
    <h1>Summary</h1>
    <p class="lead">Geoscience Australia maintains a large collection of physical samples such as rocks, sediments, minerals, meteorites, fossils, as well as some liquids and other miscellaneous sample types. These samples are extremely valuable and they are not wide used due to difficulty in learning about the samples.
The purpose of this project is to deliver a functional web based system that searches Geoscience Australia’s International Sample Number and Surveys databases through the Linked Data API. The goal is to develop a portal to enable the discovery of Geoscience Australia’s physical samples.
The target audience for this prototype would be people interested in Geoscience Australia’s national fossil, meteorite and gemstones collections.
</p>
    <h1>ORGANISATIONAL BACKGROUND</h1>
    <p class="lead">
        Geoscience Australia is a national agency for geospatial information and geoscience. Is a pre-eminent public sector that happen to be the nation’s trusted advisor on the aspects of geoscience, Geoscience Australia maintains a large collection of physical samples, including: rocks, sediments, minerals, meteorites, fossils, as well as some liquids and other miscellaneous sample types and custodian of the geography and geology data and knowledge of Australia.
        Geoscience contributes to Australia Government’s free open data collections such as data.gov.au. Furthermore, geoscience produced geospatial free products to the Australia Governments such as satellite imagery and topographic map. Its research and information provide good outcomes for better decision making that impact upon resource use, management of the Australia environment, and the safety of Australians well-being. Geoscience provides Australia’s authoritative with a technical and independent information in other to understand the earth for the benefit of Australia.

    </p>
</div>