@{
    ViewBag.Title = "Search";
}
</br>
<div class="container">
    <h4> Search for Geo Samples </h4>
    <br />
    <div id="map" style="width:800px;height:500px;float:right;"></div>
    <script>

        var map= null;
        function myMap() {
            var mapOptions = {
                center: new google.maps.LatLng(-35.280849, 149.129886),
                zoom: 10
            }

            map = new google.maps.Map(document.getElementById("map"), mapOptions);
        }
    </script>
    <div class="search-container">
        
            <input type="text" id="searchIGSN" placeholder="Search by sample number" name="search">
            <button onclick="getIGSN()"><i class="fa fa-search"></i></button>
            <p class="eg-text">eg. 10000, 10001, 10002</p>
            <p id="message" style="color:red"></p>
        
    </div>
    <hr class="searchdv"/>
    <select class="selectpicker" id="searchCountry" data-live-search="true" data-size="5" multiple data-max-options="1" title="Country">
        <option data-tokens="AUS Australia">Australia</option>
        <option data-tokens="PNG Papua New Guinea">Papua New Guinea</option>
        <option data-tokens="ATA Antartica">Antartica</option>
        <option data-tokens="SLB Solomon Islands">Solomon Islands</option>
        <option data-tokens="FRA France">France</option>
        <option data-tokens="TMP East Timor">East Timor</option>
        <option data-tokens="BRA Brazil">Brazil</option>
        <option data-tokens="INW">INW</option>
        <option data-tokens="GBR United Kingdom">United Kingdom</option>
        <option data-tokens="ZAF South Africa">South Africa</option>
        <option data-tokens="USA US United States of America">US of America</option>
        <option data-tokens="NCL New Caledonia">New Caledonia</option>
        <option data-tokens="GRL Greenland">Greenland</option>
        <option data-tokens="NOR Norway">Norway</option>
        <option data-tokens="ZWE Zimbabwe">Zimbabwe</option>
        <option data-tokens="ITA Italy">Italy</option>
        <option data-tokens="CZE Czechia">Czechia</option>
        <option data-tokens="NZL New Zealand">New Zealand</option>
        <option data-tokens="INL">INL</option>
        <option data-tokens="LKA Sri Lanka">Sri Lanka</option>
        <option data-tokens="IND India">India</option>
        <option data-tokens="unknown">unknown</option>
    </select>
    <div class="padding"></div>
    <select class="selectpicker" id="searchState" data-live-search="true" data-size="5" multiple data-max-options="1" title="State">
        <option data-tokens="ACT Canberra Australian Capital Territory">ACT</option>
        <option data-tokens="NT Northern Territory">Northern Territory</option>
        <option data-tokens="NSW New South Wales">New South Wales</option>
        <option data-tokens="QLD Queensland">Queensland</option>
        <option data-tokens="SA Southern Australia">Southern Australia</option>
        <option data-tokens="TAS Tasmania">Tasmania</option>
        <option data-tokens="VIC Victoria">Victoria</option>
        <option data-tokens="WA Western Australia">Western Australia</option>
        <option data-tokens="unknown">unknown</option>
    </select>
    <div class="padding"></div>
    <select class="selectpicker" id="searchSampleType" data-live-search="true" data-size="5" multiple data-max-options="1" title="Sample type"
onload="getSampleTypeDropdowns()"></select>
    <div class="padding"></div>
    <select class="selectpicker" id="searchMethodType" data-live-search="true" data-size="5" multiple data-max-options="1" title="Method type" onload="getMethodTypeDropdowns()"></select>
    <div class="padding"></div>
    <select class="selectpicker" id="searchMaterialType" data-live-search="true" data-size="5" multiple data-max-options="1" title="Material type" onload="getMaterialTypeDropdowns()"></select>
    <div class="padding"></div>
    <select class="selectpicker" id="searchLithology" data-live-search="true" data-size="5" multiple data-max-options="1" title="Lithology" onload="getLithologyDropdowns()">
    </select>
    <div class="padding"></div>
    <select class="selectpicker" id="searchEntityType" data-live-search="true" data-size="5" multiple data-max-options="1" title="Entity type" onload="getEntityTypeDropdowns()">
    </select>
    <div class="padding"></div>
    <button class="search-button" onclick="getSearch()">Search</button>
</div>

