@{
    ViewBag.Title = "Search";
}
</br>
<div class="container">
    <h3> Search for Geo Samples </h3>
    <br />
    <div id="map" style="width:800px;height:500px;float:right;"></div>
    <script>

        var map= null;
        function myMap() {
            var mapOptions = {
                center: new google.maps.LatLng(-35.280849, 149.129886),
                zoom: 10
            }

            map = new google.maps.Map(document.getElementById("map"), mapOptions);
        }
    </script>
    <div class="search-container">
        
            <input type="text" id="searchIGSN" placeholder="Search by sample number" name="search">
            <button onclick="myFunction()"><i class="fa fa-search"></i></button>
            <p class="eg-text">eg. 10000 and up</p>
            <p id="message" style="color:red"></p>
        
    </div>
    <hr class="searchdv"/>
    <select class="selectpicker" data-live-search="true" data-size="5" multiple data-max-options="1" title="Country">
        <option data-tokens="AUS Australia">Australia</option>
        <option data-tokens="PNG Papua New Guinea">Papua New Guinea</option>
        <option data-tokens="ATA Antartica">Antartica</option>
        <option data-tokens="SLB Solomon Islands">Solomon Islands</option>
        <option data-tokens="FRA France">France</option>
        <option data-tokens="TMP East Timor">East Timor</option>
        <option data-tokens="BRA Brazil">Brazil</option>
        <option data-tokens="INW">INW</option>
        <option data-tokens="GBR United Kingdom">United Kingdom</option>
        <option data-tokens="ZAF South Africa">South Africa</option>
        <option data-tokens="USA US United States of America">US of America</option>
        <option data-tokens="NCL New Caledonia">New Caledonia</option>
        <option data-tokens="GRL Greenland">Greenland</option>
        <option data-tokens="NOR Norway">Norway</option>
        <option data-tokens="ZWE Zimbabwe">Zimbabwe</option>
        <option data-tokens="ITA Italy">Italy</option>
        <option data-tokens="CZE Czechia">Czechia</option>
        <option data-tokens="NZL New Zealand">New Zealand</option>
        <option data-tokens="INL">INL</option>
        <option data-tokens="LKA Sri Lanka">Sri Lanka</option>
        <option data-tokens="IND India">India</option>
        <option data-tokens="unknown">unknown</option>
    </select>
    <div class="padding"></div>
    <select class="selectpicker" data-live-search="true" data-size="5" multiple data-max-options="1" title="State">
        <option data-tokens="ACT Canberra Australian Capital Territory">ACT</option>
        <option data-tokens="NT Northern Territory">Northern Territory</option>
        <option data-tokens="NSW New South Wales">New South Wales</option>
        <option data-tokens="QLD Queensland">Queensland</option>
        <option data-tokens="SA Southern Australia">Southern Australia</option>
        <option data-tokens="TAS Tasmania">Tasmania</option>
        <option data-tokens="VIC Victoria">Victoria</option>
        <option data-tokens="WA Western Australia">Western Australia</option>
        <option data-tokens="unknown">unknown</option>
    </select>
    <div class="padding"></div>
    <select class="selectpicker" data-live-search="true" data-size="5" multiple data-max-options="1" title="Sample type">
        <option data-tokens="IsoTube">IsoTube</option>
        <option data-tokens="borehole specimen">borehole specimen</option>
        <option data-tokens="cavings">cavings</option>
        <option data-tokens="coastal float specimen">coastal float specimen</option>
        <option data-tokens="core">core</option>
        <option data-tokens="drill chips/cuttings">drill chips/cuttings</option>
        <option data-tokens="drilling fluid sample">drilling fluid sample</option>
        <option data-tokens="field site observation">field site observation</option>
        <option data-tokens="float specimen">float specimen</option>
        <option data-tokens="fraction">fraction</option>
        <option data-tokens="marine survey specimen">marine survey specimen</option>
        <option data-tokens="mineral grain">mineral grain</option>
        <option data-tokens="observation log">observation log</option>
        <option data-tokens="observation only">observation only</option>
        <option data-tokens="outcrop specimen">outcrop specimen</option>
        <option data-tokens="replicate field specimen">replicate field specimen</option>
        <option data-tokens="replicate laboratory specimen">replicate laboratory specimen</option>
        <option data-tokens="separator gas">separator gas</option>
        <option data-tokens="specimen blank">specimen blank</option>
        <option data-tokens="standard reference material">standard reference material</option>
        <option data-tokens="thin section">thin section</option>
        <option data-tokens="unconsolidated seabed specimen">unconsolidated seabed specimen</option>
        <option data-tokens="unconsolidated surficial specimen">unconsolidated surficial specimen</option>
        <option data-tokens="unknown">unknown</option>
        <option data-tokens="vegetation specimen">vegetation specimen</option>
        <option data-tokens="water column observation">water column observation</option>
        <option data-tokens="water column specimen">water column specimen</option>
        <option data-tokens="water specimen">water specimen</option>
        <option data-tokens="individualSample">individualSample</option>
    </select>
    <div class="padding"></div>
    <select class="selectpicker" data-live-search="true" data-size="5" multiple data-max-options="1" title="Method type">
        <option data-tokens="RAB drilling">RAB drilling</option>
        <option data-tokens="auger">auger</option>
        <option data-tokens="borehole DST test">borehole DST test</option>
        <option data-tokens="borehole fluid sampling">borehole fluid sampling</option>
        <option data-tokens="borehole logging tool">borehole logging tool</option>
        <option data-tokens="bottle incubation">bottle incubation</option>
        <option data-tokens="bottle incubation dark">bottle incubation dark</option>
        <option data-tokens="bottle incubation light">bottle incubation light</option>
        <option data-tokens="chamber incubation">chamber incubation</option>
        <option data-tokens="chamber incubation dark">chamber incubation dark</option>
        <option data-tokens="chamber incubation light">chamber incubation light</option>
        <option data-tokens="core Kasten">core Kasten</option>
        <option data-tokens="core Mackereth">core Mackereth</option>
        <option data-tokens="core air">core air</option>
        <option data-tokens="core box">core box</option>
        <option data-tokens="core catcher">core catcher</option>
        <option data-tokens="core conventional">core conventional</option>
        <option data-tokens="core cutter">core cutter</option>
        <option data-tokens="core diamond">core diamond</option>
        <option data-tokens="core drilling, unspecified">core drilling, unspecified</option>
        <option data-tokens="core geoprobe">core geoprobe</option>
        <option data-tokens="core gravity">core gravity</option>
        <option data-tokens="core incubation dark">core incubation dark</option>
        <option data-tokens="core incubation light">core incubation light</option>
        <option data-tokens="core piston">core piston</option>
        <option data-tokens="core push">core push</option>
        <option data-tokens="core sonic">core sonic</option>
        <option data-tokens="core spike">core spike</option>
        <option data-tokens="core vibro">core vibro</option>
        <option data-tokens="current meter">current meter</option>
        <option data-tokens="dredge">dredge</option>
        <option data-tokens="dredge benthic">dredge benthic</option>
        <option data-tokens="dredge chain bag">dredge chain bag</option>
        <option data-tokens="dredge diamantina">dredge diamantina</option>
        <option data-tokens="dredge pipe">dredge pipe</option>
        <option data-tokens="drilling">drilling</option>
        <option data-tokens="field mapping survey">field mapping survey</option>
        <option data-tokens="grab">grab</option>
        <option data-tokens="grab Eckman">grab Eckman</option>
        <option data-tokens="grab ROV">grab ROV</option>
        <option data-tokens="grab Shipek">grab Shipek</option>
        <option data-tokens="grab Smith Mcintyre">grab Smith Mcintyre</option>
        <option data-tokens="grab Van Veen">grab Van Veen</option>
        <option data-tokens="Hand">Hand</option>
        <option data-tokens="liquid-gas separation">liquid-gas separation</option>
        <option data-tokens="marine survey">marine survey</option>
        <option data-tokens="marine survey sampling">marine survey sampling</option>
        <option data-tokens="outcrop sampling">outcrop sampling</option>
        <option data-tokens="percussion drilling">percussion drilling</option>
        <option data-tokens="pit or trench sampling">pit or trench sampling</option>
        <option data-tokens="rotary drilling">rotary drilling</option>
        <option data-tokens="sidewall core, bullet">sidewall core, bullet</option>
        <option data-tokens="sidewall core, mechanical">sidewall core, mechanical</option>
        <option data-tokens="sonde">sonde</option>
        <option data-tokens="surface material sampling">surface material sampling</option>
        <option data-tokens="undergound mine sampling">undergound mine sampling</option>
        <option data-tokens="underwater camera">underwater camera</option>
        <option data-tokens="unknown">unknown</option>
        <option data-tokens="water sampling">water sampling</option>
    </select>
    <div class="padding"></div>
    <select class="selectpicker" data-live-search="true" data-size="5" multiple data-max-options="1" title="Material type">
        <option data-tokens="adsorbed phase">adsorbed phase</option>
        <option data-tokens="bitumen">bitumen</option>
        <option data-tokens="coal">coal</option>
        <option data-tokens="coke">coke</option>
        <option data-tokens="condensate">condensate</option>
        <option data-tokens="crude oil">crude oil</option>
        <option data-tokens="crude oil with water">crude oil with water</option>
        <option data-tokens="drilling fluid">drilling fluid</option>
        <option data-tokens="gas">gas</option>
        <option data-tokens="gas in solution">gas in solution</option>
        <option data-tokens="groundwater">groundwater</option>
        <option data-tokens="hydrocarbon gas">hydrocarbon gas</option>
        <option data-tokens="kerogen">kerogen</option>
        <option data-tokens="lag">lag</option>
        <option data-tokens="lake sediment">lake sediment</option>
        <option data-tokens="marine sediment">marine sediment</option>
        <option data-tokens="marine sediment and overlying seawater">marine sediment and overlying seawater</option>
        <option data-tokens="mineral">mineral</option>
        <option data-tokens="mud gas">mud gas</option>
        <option data-tokens="porewater">porewater</option>
        <option data-tokens="regolith">regolith</option>
        <option data-tokens="rock">rock</option>
        <option data-tokens="sediment">sediment</option>
        <option data-tokens="seep gas">seep gas</option>
        <option data-tokens="seep oil">seep oil</option>
        <option data-tokens="soil">soil</option>
        <option data-tokens="solid phase">solid phase</option>
        <option data-tokens="stream sediment">stream sediment</option>
        <option data-tokens="surface water">surface water</option>
        <option data-tokens="suspended solids">suspended solids</option>
        <option data-tokens="unknown">unknown</option>
        <option data-tokens="unspecified seabed materials">unspecified seabed materials</option>
        <option data-tokens="vegetation">vegetation</option>
        <option data-tokens="water">water</option>
    </select>
    <div class="padding"></div>
    <select class="selectpicker" data-live-search="true" data-size="5" multiple data-max-options="1" title="Lithology">
        <option data-tokens="biogenic sediment">biogenic sediment</option>
        <option data-tokens="websterite">websterite</option>
        <option data-tokens="gypcrete">gypcrete</option>
        <option data-tokens="hardpan">hardpan</option>
        <option data-tokens="argillite">argillite</option>
        <option data-tokens="pyroxene spinifex-textured basalt">pyroxene spinifex-textured basalt</option>
        <option data-tokens="olivine hornblendite">olivine hornblendite</option>
        <option data-tokens="saprolite, highly weathered">saprolite, highly weathered</option>
        <option data-tokens="fragmental igneous material">fragmental igneous material</option>
        <option data-tokens="silty mud">silty mud</option>
        <option data-tokens="kalsilitic and melilitic rocks">kalsilitic and melilitic rocks</option>
        <option data-tokens="muddy silt">muddy silt</option>
        <option data-tokens="tephra">tephra</option>
        <option data-tokens="intrusive rock">intrusive rock</option>
        <option data-tokens="felsic granulite">felsic granulite</option>
        <option data-tokens="gravel">gravel</option>
        <option data-tokens="quartzite">quartzite</option>
        <option data-tokens="quartz magnetite rock">quartz magnetite rock</option>
        <option data-tokens="ferruginous saprolite">ferruginous saprolite</option>
        <option data-tokens="olivine orthopyroxene gabbro">olivine orthopyroxene gabbro</option>
        <option data-tokens="lignite">lignite</option>
        <option data-tokens="meimechite">meimechite</option>
        <option data-tokens="ultramafic rock">ultramafic rock</option>
        <option data-tokens="sodalite monzodiorite">sodalite monzodiorite</option>
        <option data-tokens="quartz rock">quartz rock</option>
        <option data-tokens="volcanic rock">volcanic rock</option>
        <option data-tokens="diopside sanidine phlogopite lamproite">diopside sanidine phlogopite lamproite</option>
        <option data-tokens="greenschist facies rock">greenschist facies rock</option>
        <option data-tokens="loess">loess</option>
        <option data-tokens="estuarine sediment">estuarine sediment</option>
        <option data-tokens="sand">sand</option>
        <option data-tokens="diamictite">diamictite</option>
        <option data-tokens="impactite">impactite</option>
        <option data-tokens="gravelly clay">gravelly clay</option>
        <option data-tokens="diopside leucite lamproite">diopside leucite lamproite</option>
        <option data-tokens="saprolite, pallid zone">saprolite, pallid zone</option>
        <option data-tokens="muddy gravel">muddy gravel</option>
        <option data-tokens="chalk">chalk</option>
        <option data-tokens="magnesite">magnesite</option>
        <option data-tokens="sandy silt">sandy silt</option>
        <option data-tokens="foid-bearing monzonite">foid-bearing monzonite</option>
        <option data-tokens="coastal sediment">coastal sediment</option>
        <option data-tokens="plagioclase-bearing pyroxenite">plagioclase-bearing pyroxenite</option>
        <option data-tokens="kalsilitite">kalsilitite</option>
        <option data-tokens="comendite">comendite</option>
        <option data-tokens="schist">schist</option>
        <option data-tokens="aplite">aplite</option>
        <option data-tokens="komatiitic (high-Mg) basalt">komatiitic (high-Mg) basalt</option>
        <option data-tokens="foid-bearing alkali feldspar syenite">foid-bearing alkali feldspar syenite</option>
        <option data-tokens="porphyry">porphyry</option>
        <option data-tokens="rudstone">rudstone</option>
        <option data-tokens="breccia">breccia</option>
        <option data-tokens="conglomerate">conglomerate</option>
        <option data-tokens="hyaloclastite">hyaloclastite</option>
        <option data-tokens="fanglomerate">fanglomerate</option>
        <option data-tokens="ultramafic schist">ultramafic schist</option>
        <option data-tokens="limestone wackestone">limestone wackestone</option>
        <option data-tokens="tourmalinite">tourmalinite</option>
        <option data-tokens="limestone framestone">limestone framestone</option>
        <option data-tokens="harzburgite">harzburgite</option>
        <option data-tokens="pisolitic ironstone">pisolitic ironstone</option>
        <option data-tokens="metamorphosed mafic igneous rock">metamorphosed mafic igneous rock</option>
        <option data-tokens="oil shale">oil shale</option>
        <option data-tokens="basic volcanic rock">basic volcanic rock</option>
        <option data-tokens="weathered material, unknown origin">weathered material, unknown origin</option>
        <option data-tokens="vein epidote">vein epidote</option>
        <option data-tokens="minette">minette</option>
        <option data-tokens="pebbly silt">pebbly silt</option>
        <option data-tokens="greywacke">greywacke</option>
        <option data-tokens="tuffaceous mudstone">tuffaceous mudstone</option>
        <option data-tokens="hornblendite">hornblendite</option>
        <option data-tokens="ferrocarbonatite">ferrocarbonatite</option>
        <option data-tokens="pitchstone">pitchstone</option>
        <option data-tokens="metamorphosed ultramafic rock">metamorphosed ultramafic rock</option>
        <option data-tokens="foid-bearing trachyte">foid-bearing trachyte</option>
        <option data-tokens="foid-bearing anorthosite">foid-bearing anorthosite</option>
        <option data-tokens="olivine hornblende pyroxenite">olivine hornblende pyroxenite</option>
        <option data-tokens="basanite">basanite</option>
        <option data-tokens="eclogite">eclogite</option>
        <option data-tokens="basalt">basalt</option>
        <option data-tokens="felsic gneiss">felsic gneiss</option>
        <option data-tokens="bone bed">bone bed</option>
        <option data-tokens="basic intrusive rock">basic intrusive rock</option>
        <option data-tokens="igneous material">igneous material</option>
        <option data-tokens="mangerite">mangerite</option>
        <option data-tokens="calc-silicate rock">calc-silicate rock</option>
        <option data-tokens="sheet flow deposit">sheet flow deposit</option>
        <option data-tokens="quartz latite">quartz latite</option>
        <option data-tokens="granulite">granulite</option>
        <option data-tokens="dolostone/dolomite boundstone">dolostone/dolomite boundstone</option>
        <option data-tokens="alcrete">alcrete</option>
        <option data-tokens="marble">marble</option>
        <option data-tokens="phonolitic tephrite">phonolitic tephrite</option>
        <option data-tokens="dolostone/dolomite framestone">dolostone/dolomite framestone</option>
        <option data-tokens="melteigite">melteigite</option>
        <option data-tokens="olivine clinopyroxenite">olivine clinopyroxenite</option>
        <option data-tokens="silty gravel">silty gravel</option>
        <option data-tokens="phonolite">phonolite</option>
        <option data-tokens="acid igneous rock">acid igneous rock</option>
        <option data-tokens="gravelly silt">gravelly silt</option>
        <option data-tokens="limestone bafflestone">limestone bafflestone</option>
        <option data-tokens="novaculite">novaculite</option>
        <option data-tokens="hornblende gabbro">hornblende gabbro</option>
        <option data-tokens="clayey gravel">clayey gravel</option>
        <option data-tokens="banded iron formation">banded iron formation</option>
        <option data-tokens="foliated metamorphic rock">foliated metamorphic rock</option>
        <option data-tokens="muddy sandy gravel">muddy sandy gravel</option>
        <option data-tokens="sandstone">sandstone</option>
        <option data-tokens="quartz gabbro">quartz gabbro</option>
        <option data-tokens="vein quartz">vein quartz</option>
        <option data-tokens="till">till</option>
        <option data-tokens="eolian sediment">eolian sediment</option>
        <option data-tokens="magnetite iron formation">magnetite iron formation</option>
        <option data-tokens="crystalline dolostone/dolomite">crystalline dolostone/dolomite</option>
        <option data-tokens="metasedimentary siliciclastic rock">metasedimentary siliciclastic rock</option>
        <option data-tokens="shonkinite">shonkinite</option>
        <option data-tokens="volcanic breccia">volcanic breccia</option>
        <option data-tokens="lag">lag</option>
        <option data-tokens="pyroxene peridotite">pyroxene peridotite</option>
        <option data-tokens="picrobasalt">picrobasalt</option>
        <option data-tokens="wackestone">wackestone</option>
        <option data-tokens="olivine gabbro">olivine gabbro</option>
        <option data-tokens="kalsilite phlogopite olivine leucite melilitite">kalsilite phlogopite olivine leucite melilitite</option>
        <option data-tokens="granophyre">granophyre</option>
        <option data-tokens="tuffite">tuffite</option>
        <option data-tokens="dolostone/dolomite mudstone">dolostone/dolomite mudstone</option>
        <option data-tokens="alluvial sediment">alluvial sediment</option>
        <option data-tokens="chert">chert</option>
        <option data-tokens="benmoreite">benmoreite</option>
        <option data-tokens="dolomitic limestone">dolomitic limestone</option>
        <option data-tokens="olivine pyroxene hornblendite">olivine pyroxene hornblendite</option>
        <option data-tokens="diopside leucite richterite phlogopite lamproite">diopside leucite richterite phlogopite lamproite</option>
        <option data-tokens="foid-bearing diorite">foid-bearing diorite</option>
        <option data-tokens="olivine melilitite">olivine melilitite</option>
        <option data-tokens="felsic rock">felsic rock</option>
        <option data-tokens="monzogranite">monzogranite</option>
        <option data-tokens="sodalite syenite">sodalite syenite</option>
        <option data-tokens="lamproite">lamproite</option>
        <option data-tokens="spilite">spilite</option>
        <option data-tokens="silty sandy gravel">silty sandy gravel</option>
        <option data-tokens="tuffaceous greywacke">tuffaceous greywacke</option>
        <option data-tokens="clayey sand">clayey sand</option>
        <option data-tokens="teschenite">teschenite</option>
        <option data-tokens="silty gravelly sand">silty gravelly sand</option>
        <option data-tokens="massive sulphide">massive sulphide</option>
        <option data-tokens="vein sulphide">vein sulphide</option>
        <option data-tokens="granodiorite">granodiorite</option>
        <option data-tokens="quartz monzogabbro">quartz monzogabbro</option>
        <option data-tokens="slate">slate</option>
        <option data-tokens="volcaniclastic sandstone">volcaniclastic sandstone</option>
        <option data-tokens="kersantite">kersantite</option>
        <option data-tokens="pelite">pelite</option>
        <option data-tokens="mudstone">mudstone</option>
        <option data-tokens="quartz anorthosite">quartz anorthosite</option>
        <option data-tokens="flint">flint</option>
        <option data-tokens="camptonite">camptonite</option>
        <option data-tokens="hornfels">hornfels</option>
        <option data-tokens="gravelly clayey sand">gravelly clayey sand</option>
        <option data-tokens="charnockite">charnockite</option>
        <option data-tokens="non-carbonate chemical or biochemical sedimentary rock">non-carbonate chemical or biochemical sedimentary rock</option>
        <option data-tokens="tuffaceous siltstone">tuffaceous siltstone</option>
        <option data-tokens="greisen">greisen</option>
        <option data-tokens="psammite">psammite</option>
        <option data-tokens="rock">rock</option>
        <option data-tokens="ash and lapilli">ash and lapilli</option>
        <option data-tokens="exotic alkaline igneous rock">exotic alkaline igneous rock</option>
        <option data-tokens="nephelinolite">nephelinolite</option>
        <option data-tokens="sandy silty clay">sandy silty clay</option>
        <option data-tokens="olivine diopside richterite phlogopite lamproite">olivine diopside richterite phlogopite lamproite</option>
        <option data-tokens="pedolith, mottled zone">pedolith, mottled zone</option>
        <option data-tokens="olivine melilitolite">olivine melilitolite</option>
        <option data-tokens="quartz feldspar rock">quartz feldspar rock</option>
        <option data-tokens="bitumen">bitumen</option>
        <option data-tokens="urtite">urtite</option>
        <option data-tokens="plagioclase-bearing hornblendite">plagioclase-bearing hornblendite</option>
        <option data-tokens="limestone boundstone">limestone boundstone</option>
        <option data-tokens="intermediate igneous rock">intermediate igneous rock</option>
        <option data-tokens="calcrete">calcrete</option>
        <option data-tokens="rodingite">rodingite</option>
        <option data-tokens="limestone packstone">limestone packstone</option>
        <option data-tokens="acid intrusive rock">acid intrusive rock</option>
        <option data-tokens="dolorudite">dolorudite</option>
        <option data-tokens="saprolite, completely weathered">saprolite, completely weathered</option>
        <option data-tokens="sandy mud">sandy mud</option>
        <option data-tokens="metasedimentary carbonate rock">metasedimentary carbonate rock</option>
        <option data-tokens="mafic granulite">mafic granulite</option>
        <option data-tokens="saprock">saprock</option>
        <option data-tokens="gouge">gouge</option>
        <option data-tokens="sedimentary rock">sedimentary rock</option>
        <option data-tokens="limestone mudstone">limestone mudstone</option>
        <option data-tokens="calcite carbonatite">calcite carbonatite</option>
        <option data-tokens="metamorphosed intermediate igneous rock">metamorphosed intermediate igneous rock</option>
        <option data-tokens="iron segregations">iron segregations</option>
        <option data-tokens="pyroclastic rock">pyroclastic rock</option>
        <option data-tokens="hornblende pyroxenite">hornblende pyroxenite</option>
        <option data-tokens="metasedimentary rock">metasedimentary rock</option>
        <option data-tokens="lamprophyre">lamprophyre</option>
        <option data-tokens="quartz alkali feldspar syenite">quartz alkali feldspar syenite</option>
        <option data-tokens="quartz sandstone">quartz sandstone</option>
        <option data-tokens="gossan">gossan</option>
        <option data-tokens="lherzolite">lherzolite</option>
        <option data-tokens="lapilli tuff">lapilli tuff</option>
        <option data-tokens="unknown">unknown</option>
        <option data-tokens="pantellerite">pantellerite</option>
        <option data-tokens="limestone">limestone</option>
        <option data-tokens="micrite">micrite</option>
        <option data-tokens="appinite">appinite</option>
        <option data-tokens="trachyte">trachyte</option>
        <option data-tokens="dust">dust</option>
        <option data-tokens="serpentinite">serpentinite</option>
        <option data-tokens="diorite">diorite</option>
        <option data-tokens="geyserite">geyserite</option>
        <option data-tokens="limestone rudstone">limestone rudstone</option>
        <option data-tokens="sand, eolian">sand, eolian</option>
        <option data-tokens="melilitite">melilitite</option>
        <option data-tokens="miaskite">miaskite</option>
        <option data-tokens="dolarenite">dolarenite</option>
        <option data-tokens="hydrothermal breccia">hydrothermal breccia</option>
        <option data-tokens="phyllonite">phyllonite</option>
        <option data-tokens="anorthosite">anorthosite</option>
        <option data-tokens="non-clastic siliceous sedimentary rock">non-clastic siliceous sedimentary rock</option>
        <option data-tokens="grapestone">grapestone</option>
        <option data-tokens="pedolith">pedolith</option>
        <option data-tokens="carbonatite">carbonatite</option>
        <option data-tokens="hyalo enstatite phlogopite lamproite">hyalo enstatite phlogopite lamproite</option>
        <option data-tokens="pyroxene olivine melilitolite">pyroxene olivine melilitolite</option>
        <option data-tokens="chromitite">chromitite</option>
        <option data-tokens="gyttja">gyttja</option>
        <option data-tokens="theralite">theralite</option>
        <option data-tokens="rhyodacite">rhyodacite</option>
        <option data-tokens="quartz-rich granitoid">quartz-rich granitoid</option>
        <option data-tokens="tonalite">tonalite</option>
        <option data-tokens="bauxite">bauxite</option>
        <option data-tokens="analcimite">analcimite</option>
        <option data-tokens="coquina">coquina</option>
        <option data-tokens="psammopelite">psammopelite</option>
        <option data-tokens="ooze">ooze</option>
        <option data-tokens="orthopyroxenite">orthopyroxenite</option>
        <option data-tokens="quartz syenite">quartz syenite</option>
        <option data-tokens="conglomeratic sandstone">conglomeratic sandstone</option>
        <option data-tokens="quartz breccia">quartz breccia</option>
        <option data-tokens="ferricrete">ferricrete</option>
        <option data-tokens="magnetite rock">magnetite rock</option>
        <option data-tokens="regolith">regolith</option>
        <option data-tokens="foid-bearing intrusive rock">foid-bearing intrusive rock</option>
        <option data-tokens="sandy clay">sandy clay</option>
        <option data-tokens="mugearite">mugearite</option>
        <option data-tokens="phosphorite">phosphorite</option>
        <option data-tokens="sedimentary breccia">sedimentary breccia</option>
        <option data-tokens="beach sediments">beach sediments</option>
        <option data-tokens="coal">coal</option>
        <option data-tokens="feldspar porphyry">feldspar porphyry</option>
        <option data-tokens="dacite">dacite</option>
        <option data-tokens="scree">scree</option>
        <option data-tokens="vein barite">vein barite</option>
        <option data-tokens="pebbles">pebbles</option>
        <option data-tokens="vein carbonate">vein carbonate</option>
        <option data-tokens="mica schist">mica schist</option>
        <option data-tokens="shale">shale</option>
        <option data-tokens="phonolitic foidite">phonolitic foidite</option>
        <option data-tokens="pseudotachylite">pseudotachylite</option>
        <option data-tokens="monchiquite">monchiquite</option>
        <option data-tokens="foid-bearing volcanic rock">foid-bearing volcanic rock</option>
        <option data-tokens="clastic sediment">clastic sediment</option>
        <option data-tokens="radiolarite">radiolarite</option>
        <option data-tokens="muddy sand">muddy sand</option>
        <option data-tokens="residual soil on fresh bedrock">residual soil on fresh bedrock</option>
        <option data-tokens="obsidian">obsidian</option>
        <option data-tokens="pyroxene melilitolite">pyroxene melilitolite</option>
        <option data-tokens="quartz feldspar porphyry">quartz feldspar porphyry</option>
        <option data-tokens="anthracite">anthracite</option>
        <option data-tokens="nepheline syenite">nepheline syenite</option>
        <option data-tokens="quartz trachyte">quartz trachyte</option>
        <option data-tokens="foid-bearing monzodiorite">foid-bearing monzodiorite</option>
        <option data-tokens="norite">norite</option>
        <option data-tokens="alnoite">alnoite</option>
        <option data-tokens="ironstone">ironstone</option>
        <option data-tokens="foid-bearing gabbro">foid-bearing gabbro</option>
        <option data-tokens="acid volcanic rock">acid volcanic rock</option>
        <option data-tokens="troctolite">troctolite</option>
        <option data-tokens="olivine norite">olivine norite</option>
        <option data-tokens="residual material">residual material</option>
        <option data-tokens="migmatite">migmatite</option>
        <option data-tokens="foid-bearing igneous rock">foid-bearing igneous rock</option>
        <option data-tokens="gravelly silty sand">gravelly silty sand</option>
        <option data-tokens="andesite">andesite</option>
        <option data-tokens="foid diorite">foid diorite</option>
        <option data-tokens="wood">wood</option>
        <option data-tokens="vitric tuff">vitric tuff</option>
        <option data-tokens="silt">silt</option>
        <option data-tokens="iron formation">iron formation</option>
        <option data-tokens="ijolite">ijolite</option>
        <option data-tokens="spongolite">spongolite</option>
        <option data-tokens="pegmatite">pegmatite</option>
        <option data-tokens="exotic composition igneous rock">exotic composition igneous rock</option>
        <option data-tokens="beachrock">beachrock</option>
        <option data-tokens="carbonate sedimentary rock">carbonate sedimentary rock</option>
        <option data-tokens="calcilutite">calcilutite</option>
        <option data-tokens="swamp sediment">swamp sediment</option>
        <option data-tokens="sandy gravel">sandy gravel</option>
        <option data-tokens="orthopyroxene gabbro">orthopyroxene gabbro</option>
        <option data-tokens="pyroxene hornblende gabbro">pyroxene hornblende gabbro</option>
        <option data-tokens="marine sediment">marine sediment</option>
        <option data-tokens="foid-bearing alkali feldspar trachyte">foid-bearing alkali feldspar trachyte</option>
        <option data-tokens="greenstone">greenstone</option>
        <option data-tokens="augen gneiss">augen gneiss</option>
        <option data-tokens="vein breccia">vein breccia</option>
        <option data-tokens="arenite">arenite</option>
        <option data-tokens="olivine pyroxene melilitolite">olivine pyroxene melilitolite</option>
        <option data-tokens="trondhjemite">trondhjemite</option>
        <option data-tokens="foidolite">foidolite</option>
        <option data-tokens="foid gabbro">foid gabbro</option>
        <option data-tokens="lithic tuff">lithic tuff</option>
        <option data-tokens="quartz monzonite">quartz monzonite</option>
        <option data-tokens="limburgite">limburgite</option>
        <option data-tokens="clinopyroxene norite">clinopyroxene norite</option>
        <option data-tokens="phonolitic basanite">phonolitic basanite</option>
        <option data-tokens="claystone">claystone</option>
        <option data-tokens="unconsolidated material">unconsolidated material</option>
        <option data-tokens="silty sandstone">silty sandstone</option>
        <option data-tokens="peralkaline rhyolite">peralkaline rhyolite</option>
        <option data-tokens="syenogranite">syenogranite</option>
        <option data-tokens="crystalline limestone">crystalline limestone</option>
        <option data-tokens="mud">mud</option>
        <option data-tokens="biomicrite">biomicrite</option>
        <option data-tokens="foid syenite">foid syenite</option>
        <option data-tokens="scoria">scoria</option>
        <option data-tokens="foid-bearing monzogabbro">foid-bearing monzogabbro</option>
        <option data-tokens="olivine pyroxene kalsilitite">olivine pyroxene kalsilitite</option>
        <option data-tokens="pyroxene hornblende norite">pyroxene hornblende norite</option>
        <option data-tokens="basaltic trachyandesite">basaltic trachyandesite</option>
        <option data-tokens="lateritic duricrust">lateritic duricrust</option>
        <option data-tokens="ash tuff">ash tuff</option>
        <option data-tokens="bouldery clay">bouldery clay</option>
        <option data-tokens="boundstone">boundstone</option>
        <option data-tokens="glacial sediment">glacial sediment</option>
        <option data-tokens="breccia, bomb or block tephra">breccia, bomb or block tephra</option>
        <option data-tokens="tillite">tillite</option>
        <option data-tokens="igneous rock">igneous rock</option>
        <option data-tokens="leucite richterite lamproite">leucite richterite lamproite</option>
        <option data-tokens="rhyolite">rhyolite</option>
        <option data-tokens="pyroxene hornblendite">pyroxene hornblendite</option>
        <option data-tokens="boulders">boulders</option>
        <option data-tokens="basic igneous rock">basic igneous rock</option>
        <option data-tokens="para-amphibolite">para-amphibolite</option>
        <option data-tokens="dolostone/dolomite packstone">dolostone/dolomite packstone</option>
        <option data-tokens="clayey silt">clayey silt</option>
        <option data-tokens="loam">loam</option>
        <option data-tokens="extra-terrestrial material">extra-terrestrial material</option>
        <option data-tokens="agglomerate">agglomerate</option>
        <option data-tokens="biosparite">biosparite</option>
        <option data-tokens="tourmalite">tourmalite</option>
        <option data-tokens="pyroxene hornblende peridotite">pyroxene hornblende peridotite</option>
        <option data-tokens="gypsum">gypsum</option>
        <option data-tokens="monzodiorite">monzodiorite</option>
        <option data-tokens="marl">marl</option>
        <option data-tokens="ultramafic intrusive rock">ultramafic intrusive rock</option>
        <option data-tokens="epiclastic rock">epiclastic rock</option>
        <option data-tokens="hornblende peridotite">hornblende peridotite</option>
        <option data-tokens="tephritic phonolite">tephritic phonolite</option>
        <option data-tokens="picrite">picrite</option>
        <option data-tokens="ignimbrite">ignimbrite</option>
        <option data-tokens="fergusite">fergusite</option>
        <option data-tokens="foid monzosyenite">foid monzosyenite</option>
        <option data-tokens="duricrust">duricrust</option>
        <option data-tokens="granofels">granofels</option>
        <option data-tokens="argillaceous sandstone">argillaceous sandstone</option>
        <option data-tokens="blueschist facies rock">blueschist facies rock</option>
        <option data-tokens="fenite">fenite</option>
        <option data-tokens="limestone grainstone">limestone grainstone</option>
        <option data-tokens="olivine clinopyroxene norite">olivine clinopyroxene norite</option>
        <option data-tokens="foid-bearing syenite">foid-bearing syenite</option>
        <option data-tokens="travertine">travertine</option>
        <option data-tokens="alkali feldspar syenite">alkali feldspar syenite</option>
        <option data-tokens="grainstone">grainstone</option>
        <option data-tokens="silty clay">silty clay</option>
        <option data-tokens="nephelinite">nephelinite</option>
        <option data-tokens="organic rich sedimentary material">organic rich sedimentary material</option>
        <option data-tokens="dolostone/dolomite bindstone">dolostone/dolomite bindstone</option>
        <option data-tokens="peridotite">peridotite</option>
        <option data-tokens="greensand">greensand</option>
        <option data-tokens="barite">barite</option>
        <option data-tokens="landslide deposit">landslide deposit</option>
        <option data-tokens="saprolite, moderately weathered">saprolite, moderately weathered</option>
        <option data-tokens="albitite">albitite</option>
        <option data-tokens="soil">soil</option>
        <option data-tokens="metasomatite">metasomatite</option>
        <option data-tokens="diatomite">diatomite</option>
        <option data-tokens="amphibolite">amphibolite</option>
        <option data-tokens="olivine pyroxenite">olivine pyroxenite</option>
        <option data-tokens="channel deposit">channel deposit</option>
        <option data-tokens="fault or shear rock">fault or shear rock</option>
        <option data-tokens="arkose">arkose</option>
        <option data-tokens="dolerite">dolerite</option>
        <option data-tokens="jaspilite">jaspilite</option>
        <option data-tokens="calciocarbonatite">calciocarbonatite</option>
        <option data-tokens="crystalline carbonate">crystalline carbonate</option>
        <option data-tokens="dolostone/dolomite grainstone">dolostone/dolomite grainstone</option>
        <option data-tokens="magnetitite">magnetitite</option>
        <option data-tokens="sannaite">sannaite</option>
        <option data-tokens="monzonite">monzonite</option>
        <option data-tokens="intermediate intrusive rock">intermediate intrusive rock</option>
        <option data-tokens="diopside leucite phlogopite lamproite">diopside leucite phlogopite lamproite</option>
        <option data-tokens="packstone">packstone</option>
        <option data-tokens="saprolite">saprolite</option>
        <option data-tokens="foidite">foidite</option>
        <option data-tokens="turbidite">turbidite</option>
        <option data-tokens="saprolith">saprolith</option>
        <option data-tokens="dolostone">dolostone</option>
        <option data-tokens="silty sand">silty sand</option>
        <option data-tokens="potassic trachybasalt">potassic trachybasalt</option>
        <option data-tokens="missourite">missourite</option>
        <option data-tokens="latite">latite</option>
        <option data-tokens="ferruginised rock fragments">ferruginised rock fragments</option>
        <option data-tokens="clayey sandy gravel">clayey sandy gravel</option>
        <option data-tokens="ultrabasic igneous rock">ultrabasic igneous rock</option>
        <option data-tokens="calcarenite">calcarenite</option>
        <option data-tokens="quartz porphyry">quartz porphyry</option>
        <option data-tokens="guano">guano</option>
        <option data-tokens="dunite">dunite</option>
        <option data-tokens="saprolite, mottled zone">saprolite, mottled zone</option>
        <option data-tokens="essexite">essexite</option>
        <option data-tokens="sinter">sinter</option>
        <option data-tokens="jotunite">jotunite</option>
        <option data-tokens="tuffaceous sandstone">tuffaceous sandstone</option>
        <option data-tokens="black shale">black shale</option>
        <option data-tokens="trachyandesite">trachyandesite</option>
        <option data-tokens="magnesiocarbonatite">magnesiocarbonatite</option>
        <option data-tokens="meteorite">meteorite</option>
        <option data-tokens="overbank deposit">overbank deposit</option>
        <option data-tokens="mylonite">mylonite</option>
        <option data-tokens="leucitite">leucitite</option>
        <option data-tokens="kimberlite">kimberlite</option>
        <option data-tokens="gravelly muddy sand">gravelly muddy sand</option>
        <option data-tokens="metamorphic rock">metamorphic rock</option>
        <option data-tokens="felsic schist">felsic schist</option>
        <option data-tokens="melilitolite">melilitolite</option>
        <option data-tokens="boninite">boninite</option>
        <option data-tokens="tephrite">tephrite</option>
        <option data-tokens="kalsilite phlogopite melilitite">kalsilite phlogopite melilitite</option>
        <option data-tokens="phyllite">phyllite</option>
        <option data-tokens="trachybasalt">trachybasalt</option>
        <option data-tokens="skarn">skarn</option>
        <option data-tokens="foid monzogabbro">foid monzogabbro</option>
        <option data-tokens="clay">clay</option>
        <option data-tokens="gabbronorite">gabbronorite</option>
        <option data-tokens="dolostone/dolomite floatstone">dolostone/dolomite floatstone</option>
        <option data-tokens="basaltic andesite">basaltic andesite</option>
        <option data-tokens="sediment">sediment</option>
        <option data-tokens="terrestrial sediment">terrestrial sediment</option>
        <option data-tokens="limestone bindstone">limestone bindstone</option>
        <option data-tokens="grus">grus</option>
        <option data-tokens="anthropogenic material">anthropogenic material</option>
        <option data-tokens="vogesite">vogesite</option>
        <option data-tokens="biocarbonate">biocarbonate</option>
        <option data-tokens="siltstone">siltstone</option>
        <option data-tokens="sodalitite">sodalitite</option>
        <option data-tokens="kalsilite leucite olivine melilitite">kalsilite leucite olivine melilitite</option>
        <option data-tokens="olivine orthopyroxenite">olivine orthopyroxenite</option>
        <option data-tokens="melange">melange</option>
        <option data-tokens="clinopyroxene gabbro">clinopyroxene gabbro</option>
        <option data-tokens="vein fluorite">vein fluorite</option>
        <option data-tokens="vein iron oxide">vein iron oxide</option>
        <option data-tokens="clinopyroxenite">clinopyroxenite</option>
        <option data-tokens="anhydrite">anhydrite</option>
        <option data-tokens="diopside phlogopite lamproite">diopside phlogopite lamproite</option>
        <option data-tokens="opdalite">opdalite</option>
        <option data-tokens="limestone breccia">limestone breccia</option>
        <option data-tokens="gravelly mud">gravelly mud</option>
        <option data-tokens="pumice">pumice</option>
        <option data-tokens="coral">coral</option>
        <option data-tokens="pyroxenite">pyroxenite</option>
        <option data-tokens="hawaiite">hawaiite</option>
        <option data-tokens="sulphide-rich rock">sulphide-rich rock</option>
        <option data-tokens="leucite phlogopite lamproite">leucite phlogopite lamproite</option>
        <option data-tokens="sand, residual">sand, residual</option>
        <option data-tokens="amber">amber</option>
        <option data-tokens="shoshonite">shoshonite</option>
        <option data-tokens="limestone floatstone">limestone floatstone</option>
        <option data-tokens="hyalo olivine diopside phlogopite lamproite">hyalo olivine diopside phlogopite lamproite</option>
        <option data-tokens="dolostone/dolomite bafflestone">dolostone/dolomite bafflestone</option>
        <option data-tokens="dolocrete">dolocrete</option>
        <option data-tokens="jasper">jasper</option>
        <option data-tokens="mudflow deposit">mudflow deposit</option>
        <option data-tokens="saprolite, very highly weathered">saprolite, very highly weathered</option>
        <option data-tokens="olivine gabbronorite">olivine gabbronorite</option>
        <option data-tokens="monzogabbro">monzogabbro</option>
        <option data-tokens="komatiite">komatiite</option>
        <option data-tokens="clay, residual">clay, residual</option>
        <option data-tokens="gabbro">gabbro</option>
        <option data-tokens="chalcedony">chalcedony</option>
        <option data-tokens="foid-bearing latite">foid-bearing latite</option>
        <option data-tokens="quartz dolerite">quartz dolerite</option>
        <option data-tokens="wehrlite">wehrlite</option>
        <option data-tokens="tephritic foidite">tephritic foidite</option>
        <option data-tokens="carbonate rock">carbonate rock</option>
        <option data-tokens="fault breccia">fault breccia</option>
        <option data-tokens="parna">parna</option>
        <option data-tokens="mafic rock">mafic rock</option>
        <option data-tokens="volcaniclastic rock">volcaniclastic rock</option>
        <option data-tokens="organic rich sedimentary rock">organic rich sedimentary rock</option>
        <option data-tokens="mafic schist">mafic schist</option>
        <option data-tokens="dololutite">dololutite</option>
        <option data-tokens="torbanite">torbanite</option>
        <option data-tokens="alkali feldspar granite">alkali feldspar granite</option>
        <option data-tokens="dolostone/dolomite breccia">dolostone/dolomite breccia</option>
        <option data-tokens="pisoliths">pisoliths</option>
        <option data-tokens="enstatite sanidine phlogopite lamproite">enstatite sanidine phlogopite lamproite</option>
        <option data-tokens="creep deposit">creep deposit</option>
        <option data-tokens="gneiss">gneiss</option>
        <option data-tokens="gravelly sand">gravelly sand</option>
        <option data-tokens="trachydacite">trachydacite</option>
        <option data-tokens="quartz diorite">quartz diorite</option>
        <option data-tokens="metamorphosed acid igneous rock">metamorphosed acid igneous rock</option>
        <option data-tokens="crystal tuff">crystal tuff</option>
        <option data-tokens="alkali basalt">alkali basalt</option>
        <option data-tokens="quartzolite">quartzolite</option>
        <option data-tokens="colluvial sediment">colluvial sediment</option>
        <option data-tokens="alkali feldspar rhyolite">alkali feldspar rhyolite</option>
        <option data-tokens="manganese rock">manganese rock</option>
        <option data-tokens="cobbles">cobbles</option>
        <option data-tokens="pyroxene hornblende gabbronorite">pyroxene hornblende gabbronorite</option>
        <option data-tokens="quartz monzodiorite">quartz monzodiorite</option>
        <option data-tokens="olivine websterite">olivine websterite</option>
        <option data-tokens="silcrete">silcrete</option>
        <option data-tokens="intermediate volcanic rock">intermediate volcanic rock</option>
        <option data-tokens="carbonaceous siltstone">carbonaceous siltstone</option>
        <option data-tokens="mineralisation">mineralisation</option>
        <option data-tokens="rock salt">rock salt</option>
        <option data-tokens="granite">granite</option>
        <option data-tokens="carbonate iron formation">carbonate iron formation</option>
        <option data-tokens="lacustrine sediment">lacustrine sediment</option>
        <option data-tokens="calcisiltite">calcisiltite</option>
        <option data-tokens="peat">peat</option>
        <option data-tokens="lateritic residuum">lateritic residuum</option>
        <option data-tokens="dolostone/dolomite rudstone">dolostone/dolomite rudstone</option>
        <option data-tokens="syenite">syenite</option>
        <option data-tokens="enderbite">enderbite</option>
        <option data-tokens="vein">vein</option>
        <option data-tokens="ultramafic volcanic rock">ultramafic volcanic rock</option>
        <option data-tokens="ferruginous lag">ferruginous lag</option>
        <option data-tokens="foid monzodiorite">foid monzodiorite</option>
        <option data-tokens="evaporite">evaporite</option>
        <option data-tokens="ultramafic igneous rock">ultramafic igneous rock</option>
        <option data-tokens="siliciclastic sedimentary rock">siliciclastic sedimentary rock</option>
        <option data-tokens="sandy siltstone">sandy siltstone</option>
        <option data-tokens="dolostone/dolomite wackestone">dolostone/dolomite wackestone</option>
        <option data-tokens="spessartite">spessartite</option>
        <option data-tokens="calcirudite">calcirudite</option>
        <option data-tokens="porcellanite">porcellanite</option>
        <option data-tokens="dolomite carbonatite">dolomite carbonatite</option>
    </select>
    <div class="padding"></div>
    <select class="selectpicker" data-live-search="true" data-size="5" multiple data-max-options="1" title="Entity type" data-width="auto">
        <option data-tokens="borehole">borehole</option>
        <option data-tokens="estuary">estuary</option>
        <option data-tokens="field site">field site</option>
        <option data-tokens="laboratory">laboratory</option>
        <option data-tokens="museum collection">museum collection</option>
        <option data-tokens="project">project</option>
        <option data-tokens="section">section</option>
        <option data-tokens="interval">interval</option>
        <option data-tokens="survey">survey</option>
        <option data-tokens="site">site</option>
        <option data-tokens="scene">scene</option>
    </select>
    <div class="padding"></div>
    <button class="search-button" type="submit">Search</button>
</div>

