@{
    ViewBag.Title = "Search";
}
</br>
<div class="container">
    <h3> Search for geo samples </h3>
    <br />
    <div id="map" style="width:800px;height:400px;float:right;"></div>
    <script>
        function myMap() {
            var mapOptions = {
                center: new google.maps.LatLng(-35.280849, 149.129886),
                zoom: 10,
                mapTypeId: google.maps.MapTypeId.HYBRID
            }
            var map = new google.maps.Map(document.getElementById("map"), mapOptions);
        }
    </script>
    <div class="search-container">
        <form action="/action_page.php">
            <input type="text" placeholder="Search by sample number" name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <br />
    <div class="dropdown">
        <button class="dropdown-button" type="button" data-toggle="dropdown" style="width:258px">
            Sample type
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Type 1</a></li>
            <li><a href="#">Type 2</a></li>
            <li><a href="#">Type 3</a></li>
            <li><a href="#">Type 4</a></li>
            <li><a href="#">Type 5</a></li>
        </ul>
    </div>
    <br />
    <div class="dropdown">
        <button class="dropdown-button" type="button" data-toggle="dropdown" style="width:258px">
            Material
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Material 1</a></li>
            <li><a href="#">Material 2</a></li>
            <li><a href="#">Material 3</a></li>
            <li><a href="#">Material 4</a></li>
            <li><a href="#">Material 5</a></li>
        </ul>
    </div>
    <br />
    <div class="dropdown">
        <button class="dropdown-button" type="button" data-toggle="dropdown" style="width:258px">
            Location
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Location 1</a></li>
            <li><a href="#">Location 2</a></li>
            <li><a href="#">Location 3</a></li>
            <li><a href="#">Location 4</a></li>
            <li><a href="#">Location 5</a></li>
        </ul>
    </div>
    <br />
    <button class="search-button" type="submit">Search</button>
</div>
